/* --- General --- */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
  position: relative;
  background: white;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  /* text-decoration: underline */
  color: #2BDE73;
}
h1 {
  font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h2,h3,h4,h5,h6 {
  font-family: 'Alegreya', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
a {
  color: #2BDE73;
}
a:hover,
a:focus {
  color: #2BDE73;
}
blockquote {
  color: #fafafa;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'Alegreya', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  background: #82FF85;
}
::selection {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  background: #82FF85;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

/* --- Navbar --- */

.navbar-custom {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}
.navbar-custom .navbar-header .logo-img-border {
  width: 100%;
  display: inline-block;
}

.navbar-custom .navbar-header .logo-img {
  width: 100%;
  display: block;
  margin: 50% 0;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }

  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }

  .navbar-custom .navbar-header .logo-img-border {
    width: 100%;
    display: inline-block;
  }

  .navbar-custom .navbar-header .logo-img {
    width: 100%;
    display: block;
  }

}

/* --- Footer --- */

footer {
  padding: 30px 0;
  background: #fafafa;
  border-top: 1px rgba(0, 0, 0, 0.3); solid;
  font-size: 14px;
}

footer a {
  color: rgba(0,0,0,0.8);
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  text-align: center;
  margin-bottom: 0;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}

/* --- Post preview --- */

.post-preview {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10%;
  padding-bottom: 10%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 10% %;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
}

.post-preview .post-title {
  font-size: 29px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
.post-preview .post-subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.post-preview .post-meta,
.post-heading .post-meta {
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  font-style: normal;
  margin: 0 0 14px;
}
.post-preview .post-entry {
  font-family: 'Source Sans Pro', 'Alegreya', 'Helvetica Neue', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.post-preview .post-read-more {
  background-color: rgba(0,0,0,0.8);
  border: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 12px 24px;
  text-transform: uppercase;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
}
.post-preview .p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 29px;
  }
}

/* --- Post and page layout --- */

header.header-page {
  margin-bottom: 29px;
  margin-top: 29px;
}

header.header-page .page-heading {
  text-align: center;
  margin-bottom: 5%;
}

header.header-post .post-heading h1 {
  font-size: 29px;
  margin-top: 0;
}

header.header-page .page-heading h1 {
  font-size: 29px;
  margin-top: 0;
}

header.header-post .post-heading .post-subheading {
  font-size: 29px;
  line-height: 1.1;
  display: block;
  font-family: 'Alegreya', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 27px;
}

header.header-page .page-heading .page-subheading {
  font-size: 18px;
  line-height: 1.1;
  display: block;
  font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 27px;
}

header.header-post .post-heading .post-subheading {
  margin-bottom: 27px;
}

@media only screen and (min-width: 768px) {
  header.header-post .post-heading h1 {
    font-size: 47px;
  }
}

@media only screen and (min-width: 768px) {
  header.header-page .page-heading h1 {
    font-size: 47px;
    font-weight: 700;
  }
}

.post-article {
  font-size: 18px;
  line-height: 27px;
  display: block;
  font-family: 'Source Sans Pro', 'Alegreya', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Pager --- */

.pager li a {
  font-family: 'Alegreya', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: white;
  border-radius: 0;
  color: rgba(0,0,0,0.3);
}
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: #2BDE73;
  background: white;
  border: 1px solid #rgba(0,0,0,0.3);
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

/* --- Tables --- */

.blog-post table {
  padding: 0;
}
.blog-post table tr {
  border-top: 1px solid rgba(0,0,0,0.3);
  background-color: white;
  margin: 0;
  padding: 0;
}
.blog-post table tr:nth-child(2n) {
  background-color: white;
}
.blog-post table tr th {
  font-weight: bold;
  border: 1px solid rgba(0,0,0,0.3);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr td {
  border: 1px solid rgba(0,0,0,0.3);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr th :first-child,
.blog-post table tr td :first-child {
  margin-top: 0;
}
.blog-post table tr th :last-child,
.blog-post table tr td :last-child {
  margin-bottom: 0;
}
