/* --- Typography --- */
@font-face { 
  font-family: 'AktivGrotesk';
  src: local('AktivGrotesk'), url(../assets/font/AktivGrotesk_Trial_Bd.ttf) format('truetype'); 
  font-weight: bold;
  font-style: normal;
}
@font-face { 
  font-family: 'AktivGrotesk';
  src: local('AktivGrotesk'), url(../assets/font/AktivGrotesk_Trial_Lt.ttf) format('truetype'); 
  font-weight: light;
  font-style: normal;
}
@font-face { 
  font-family: 'Stellar';
  src: local('Stellar'), url(../assets/font/Stellar-Bold.otf) format('opentype');Î 
  font-weight: bold;
  font-style: normal;
}
@font-face { 
  font-family: 'Stellar';
  src: local('Stellar'), url(../assets/font/Stellar-light.otf) format('opentype');Î 
  font-weight: light;
  font-style: normal;
}
@font-face { 
  font-family: 'Stellar';
  src: local('Stellar'), url(../assets/font/Stellar-Medium.otf) format('opentype');Î 
  font-weight: medium;
  font-style: normal;
}
@font-face { 
  font-family: 'Stellar';
  src: local('Stellar'), url(../assets/font/Stellar-Regular.otf) format('opentype');Î 
  font-weight: regular;
  font-style: normal;
}

/* --- General --- */
Ï
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "AktivGrotesk", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
  position: relative;
  background: white;
}
@media only screen and (min-width: 768px) {
  body {
      font-size: 21px;
      line-height: 1.58; 
  }
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  /* text-decoration: underline */
  color: ##89ABE3;
}
h1 {
  font-family: 'Stellar', 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
h2,h3,h4,h5,h6 {
  font-family: 'Stellar', 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: medium;
}
a {
  color: #89ABE3;
}
a:hover,
a:focus {
  color: #89ABE3;
}
blockquote {
  color: #fafafa;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'AktivGrotesk', 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #89ABE3;
}
::selection {
  color: white
;  text-shadow: none;
  background: #89ABE3;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

/* --- Navbar --- */

.navbar-custom {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #89ABE3;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}
.navbar-custom .navbar-header .logo-img-border {
  width: 30px;
  height: 30px;
  margin: 0 2%;
  padding: 0;
  display: inline-block;
}

.navbar-custom .navbar-header .logo-img {
  width: 100%;
  display: block;
  margin: 50% 0;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }

  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }

  .navbar-custom .navbar-header .logo-img-border {
    display: inline-block;
  }

  .navbar-custom .navbar-header .logo-img {
    width: 100%;
    margin: 50% 0;
    display: block;
  }

}

/* --- Footer --- */

footer {
  padding: 30px 0;
  background: #fafafa;
  border-top: 1px rgba(0, 0, 0, 0.3); solid;
  font-size: 14px;
}

footer a {
  color: #89ABE3;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  text-align: center;
  margin-bottom: 0;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}
footer .theme-by a {
  color: rgb(119, 119, 119);
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}

/* --- Post preview --- */

.post-preview {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10%;
  padding-bottom: 10%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 10% %;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
}

.post-preview .post-title {
  font-size: 29px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
.post-preview .post-subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "AktivGrotesk", "Helvetica Neue", sans-serif;
}
.post-preview .post-meta,
.post-heading .post-meta {
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  font-style: normal;
  margin: 0 0 14px;
}
.post-preview .post-entry {
  font-family: 'AktivGrotesk', 'Work Sans', 'Helvetica Neue', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.post-preview .post-read-more {
  background-color: #89ABE3;
  border: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 12px 24px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "AktivGrotesk", "Helvetica Neue", sans-serif;
}
.post-preview .p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.post-read-more:hover,
.post-read-more:focus {
  background-color: #89ABE3;
}


@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 31px;
    line-height: 1.12;
    font-weight: medium;
  }
}

/* --- Post and page layout --- */

header.header-page {
  margin-bottom: 29px;
  margin-top: 29px;
}

header.header-page .page-heading {
  text-align: center;
  margin-bottom: 5%;
}

header.header-post .post-heading h1 {
  font-size: 29px;
  margin-top: 0;
}

header.header-page .page-heading h1 {
  font-size: 29px;
  margin-top: 0;
}

header.header-post .post-heading .post-subheading {
  font-size: 18px;
  line-height: 1.1;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "AktivGrotesk", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-bottom: 27px;
}

header.header-page .page-heading .page-subheading {
  font-size: 18px;
  line-height: 1.1;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "AktivGrotesk", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-top: 27px;
  margin-bottom: 27px;
}

@media only screen and (min-width: 768px) {
  header.header-post .post-heading h1 {
   font-size: 36px;
   line-height: 1.15;    
   font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  header.header-page .page-heading h1 {
    font-size: 55px;
    line-height: 1.15;
    font-weight: bold;
  }
  header.header-page .post-heading h2 {
    font-size: 34px;
    line-height: 1.15px;
    font-weight: medium;
  }
}

.post-article {
  font-size: 18px;
  line-height: 27px;
  display: block;
  font-family: 'AktivGrotesk', 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .post-article {
    font-size: 21px;
    line-height: 1.58;
    font-weight: 400;
  }
  h2 {
    font-size: 28px;
    line-height: 1.22;
    font-weight: medium;
    font-family: 'Stellar', 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

/* --- Pager --- */

.pager li a {
  background-color: #89ABE3;
  border: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 12px 24px;
  text-transform: uppercase;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #89ABE3;
}

@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

/* --- Tables --- */

.blog-post table {
  padding: 0;
}
.blog-post table tr {
  border-top: 1px solid rgba(0,0,0,0.3);
  background-color: white;
  margin: 0;
  padding: 0;
}
.blog-post table tr:nth-child(2n) {
  background-color: white;
}
.blog-post table tr th {
  font-weight: bold;
  border: 1px solid rgba(0,0,0,0.3);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr td {
  border: 1px solid rgba(0,0,0,0.3);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr th :first-child,
.blog-post table tr td :first-child {
  margin-top: 0;
}
.blog-post table tr th :last-child,
.blog-post table tr td :last-child {
  margin-bottom: 0;
}

/* --- Galleries --- */
.gallery {
    padding-bottom: 0px;
    padding-top: 40px;
    display: block;
    box-sizing: border-box;
    position: relative;
    /*overflow: hidden;*/
    text-align: center;
}
.gallery container {
  display: table;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.container div {
  display: block;
}
.books {
    max-height: 349px;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: box-shadow 0.3s linear;
}
.books img {
    max-height: 302px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: inherit;
    height: inherit;
    max-height: 350px;
    transform-origin: 0 50%;
    transform: rotateY(0);
    transition: all 0.45s ease;
}
@media only screen and (min-width: 768px) {
  .gallery container  {
    width: 750px;
  }
  .col-sm-6 {
    width: 50%
  }
}