<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo-img-border" href="{{ site.url }}">
        <img class="logo-img" src="{{ site.logo | prepend: site.baseurl | replace: '//', '/' }}" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
          {% if site.author.twitter and site.header-links-active.twitter %}
              <li>
                <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
          {% endif %}
          {% if site.author.github and site.header-links-active.github %}
          <li>
            <a href="https://github.com/{{ site.author.github }}" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.author.instagram and site.header-links-active.instagram %}
              <li>
                <a href="https://instagram.com/{{ site.author.instagram }}" title="Instagram">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
          {% endif %}
          {% if site.author.facebook and site.header-links-active.facebook %}
          <li>
            <a href="https://www.facebook.com/{{ site.author.facebook }}" title="Facebook">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.email and site.header-links-active.email %}
          <li>
            <a href="mailto:{{ site.author.email }}" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
<!-- 	       {% for link in site.navbar-links %}
	      {% capture before %}{{ link[1] | split: "://" | first }}{% endcapture %}
	      {% capture after %}{{ link[1] | split: "://" | last }}{% endcapture %}
        <li>
          {% assign internal = true %}
          {% if before != after %}
            {% if before == "http" or before == "https" %}
              {% assign internal = false %}
            {% endif %}
          {% endif %}

        {% if internal %}
          {% capture linkurl %}{{ site.baseurl }}/{{ link[1] }}{% endcapture %}
        {% else %}
          {% capture linkurl %}{{ link[1] }}{% endcapture %}
        {% endif %}

	      <a href="{{ linkurl }}">{{ link[0] }}</a>
	      </li>
	     {% endfor %} -->
      </ul>
    </div>

	{% if site.avatar %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.url }} ">
	      <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
