---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostRow from '../components/PostRow.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<BaseLayout title="Archive">
  <div class="post-list">
    {posts.map(post => <PostRow post={post} />)}
  </div>
</BaseLayout>

