---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/pygment_highlights.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
common-googlefonts:
  - "Unica+One:300,400,700"
  - "Playfair+Display:300,400,700"
  - "Alegreya:300,400,700"
  - "Source Sans Pro:300,400,700"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
